 /* font family- open sans from google */
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 /* Shared Style  */
 .open-sans {
   font-family: "Open Sans", sans-serif;
   font-optical-sizing: auto;
 }


 /* Main Style */
 header{
  background:url("images/developer.png"), url("images/header_bg.png");
  background-repeat: no-repeat;
  background-position: left, right bottom;
 }

 .logo h2 {
   font-size: 45px;
   font-weight: bolder;
 }

 .color-orange {
   color: #FD6E0A;
 }

 header {
   background-color: #FFF8F3;
   padding-top: 50px;
 }

 nav {
   width: 71%;
   max-width: 1140px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
 }

 nav .menu {
   display: flex;
   list-style: none;
   align-items: center;
   gap: 51px;
 }

 nav .menu a {
   font-size: 20px;
   color: #474747;
   text-decoration: none;
 }

 .btn {
   /* width: 150px;
  height: 65px; */
   background-color: #FD6E0A;
   border: none;
   border-radius: 5px;
   font-size: 20px;
   color: white;
   font-weight: bold;
   padding: 18px 35px;
   cursor: pointer;
 }

 .both-btn {
   display: flex;
   gap: 30px;
 }

 #banner {
   /* border: 1px solid black; */
   margin: 46px 38px 0 230px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 #banner .banner-content {
   max-width: 585px;
   max-height: 356px;
 }

 #banner .banner-image img {
   width: 584px;
   height: 678px;
 }

 #banner .banner-content h2 {
   font-size: 45px;
   font-weight: 600;
   color: #474747;
   margin-bottom: 5px;
 }

 #banner .banner-content h1 {
   font-size: 85px;
   font-weight: bold;
   color: #181818;
   margin-bottom: 20px;
 }

 #banner .banner-content p {
   font-size: 18px;
   color: #757575;
   margin-bottom: 30px;
   line-height: 30px;
 }

 #banner .banner-image img {
   max-width: 584px;
   vertical-align: middle;
 }

 /* here is about section  */
 #about{
  padding-top: 130px;
 }
 #about .about-container{
  max-width: 71%;
  width: 1140px;
  background-color: #FFF8F3;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  padding: 120px 156px 142px;
 }
 .about-container .about-detail h4{
  font-size: 35px;
  color: #181818;
  margin-bottom: 30px;
 }
 .about-container .about-detail p{
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
 }
 .about-info{
  display: flex;
  justify-content: space-between;
 }
 .about-info .info p{
  color: #757575;
  font-size: 20px;
  line-height: 30px;
 }
 .about-info .info h4{
  color: #474747;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
 }
 /* Experience section start */
 #experience{
  padding-top: 130px;
 }
 .experience-container{
  max-width: 71%;
  width: 1140px;
  /* display: flex; */
  align-items: center;
  margin: 0 auto;
  text-align: center;
 }
.experience-header{
  width: 827px;
  margin: 0 auto;
}

 .experience-container .experience-header h4{
  font-size: 35px;
  color: #181818;
  margin-bottom: 30px;
 }
 .experience-container .experience-header p{
  color: #757575;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 50px;
 }

.experience-card{
  gap: 40px;
  display: flex;
  text-align: left;
}

 .experience-card .ex-card{
  padding: 30px;
  width: 267px;
  box-shadow: 0px 6px 50px rgb(233, 227, 227);
  /* border: 1px solid black; */
 }
.experience-card .ex-card img{
  margin-bottom: 30px;
  width: 44px;
  height: 44px;
}
.experience-card .ex-card h4{
  margin-bottom: 30px;
  color: #181818;
  font-weight: bold;
  font-size: 20px;
}
.experience-card .ex-card p{
  line-height: 28px;
  color: #757575;
  font-size: 16px;
}
#summary{
  padding-top: 130px;
}

#summary .summary-container{
  max-width: 70%;
  width: 1140px;
  display: flex;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}