 /* font family- open sans from google */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Shared Style  */
 .open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
  font-size: 45px;
  font-weight: bolder;
}
.color-orange{
  color: #FD6E0A;
}

/* Main Style */
header{
  background-color: #FFF8F3;
  padding-top: 50px;
}
nav{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
nav .menu{
  display: flex;
  list-style: none;
  align-items: center;
  gap: 51px;
}
nav .menu a{
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}
.btn{
  /* width: 150px;
  height: 65px; */
  background-color: #FD6E0A ;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  padding: 18px 35px;
  cursor: pointer;
}
.both-btn{
  display: flex;
  gap: 30px;
}
#banner{
  border: 1px solid black;
  margin: 46px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banner .banner-content{
  max-width: 585px;
  max-height: 356px;
}

#banner .banner-image img{
  width: 584px;
  height: 678px;
}
#banner .banner-content h2{
  font-size: 45px;
  font-weight:600;
  color: #474747;
  margin-bottom: 5px;
}
#banner .banner-content h1{
  font-size: 85px;
  font-weight:bold;
  color: #181818;
  margin-bottom: 20px;
}
#banner .banner-content p{
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
  line-height: 30px;
}
#banner .banner-image img{
  max-width: 584px;
  vertical-align: middle;
}